<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="C:\repos\azure-cost-management-apis\src\log\internal.log">


	<extensions>
		<!--enable NLog.Web for ASP.NET Core-->
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- define log targets -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="allfile" fileName="C:\repos\azure-cost-management-apis\src\log\\nlog-all-${shortdate}.log"
                        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Warning" writeTo="allfile" />
	</rules>
</nlog>